<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  
</style>
</head>
<body class="beranda">

	<nav style=background: class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage:beranda' %}">Beranda <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:tentang' %}">Tentang</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:kontak' %}">Kontak</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:pengalaman' %}">Pengalaman</a>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:galeri' %}">Galeri</a>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:kegiatan' %}">Kegiatan</a>
      </li>
    </ul>
  </div>
</nav>

<p id="tulisanberanda1">Halo Semua!</p>
<p id="tulisanberanda2">Saya Raihan Miftah</p>

</body>
</html>