<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>

</style>
</head>
<body style="background-color:darkgrey;">

  <nav style=background: class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:beranda' %}">Beranda <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:tentang' %}">Tentang</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:kontak' %}">Kontak</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:pengalaman' %}">Pengalaman</a>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'homepage:galeri' %}">Galeri</a>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage:kegiatan' %}">Kegiatan</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid container-form" id="wrapper" style="padding-left: 5vw;margin-bottom: 3vw;">

    <div class="" id="content">
        <p>Kegiatan</p>

        <form action="{% url 'homepage:tambah' %}" method="POST" role="form">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <p style="font-size: 1.111vw;">Nama Kegiatan</p>
                    </td>
                    <td>
                        <div class="input-group" style="margin-left: 3vw;">
                            {{form.namaKegiatan}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 1.111vw;">Tanggal</p>
                    </td>
                    <td>
                        <div class="input-group" style="margin-left: 3vw;">
                            {{form.tanggalKegiatan}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 1.111vw;">Tempat</p>
                    </td>
                    <td>
                        <div class="input-group" style="margin-left: 3vw;">
                            {{form.tempatKegiatan}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 1.111vw;">Jam</p>
                    </td>
                    <td>
                        <div class="input-group" style="margin-left: 3vw;">
                            {{form.jamKegiatan}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: 1.111vw;">Kategori</p>
                    </td>
                    <td>
                        <div class="input-group" style="margin-left: 3vw;">
                            {{form.kategoriKegiatan}}
                        </div>
                    </td>
                </tr>
            </table>

            <span class="input-group-btn">
                <button type="submit" class="btn" id="add-btn">ADD</button>
            </span>
        </form>
        <ul class="list-group t20" style="margin-right: 40vw; margin-top: 3vw; font-size:1.111vw;">
            <table>
                <tr>
                    <td>
                        <li class="list-group-item">Kegiatan</li>
                    </td>
                    <td>
                        <li class="list-group-item">Tanggal</li>
                    </td>
                    <td>
                        <li class="list-group-item">Tempat</li>
                    </td>
                    <td>
                        <li class="list-group-item">Jam</li>
                    </td>
                    <td>
                        <li class="list-group-item">Kategori</li>
                    </td>
                </tr>
            </table>
            {% for kegiatan in list_kegiatan %}
            <table>
                <tr>
                    <td>
                        <li class="list-group-item">{{ kegiatan.namaKegiatan }}</li>
                    </td>
                    <td>
                        <li class="list-group-item">{{ kegiatan.tanggalKegiatan }}</li>
                    </td>
                    <td>
                        <li class="list-group-item">{{ kegiatan.tempatKegiatan }}</li>
                    </td>
                    <td>
                        <li class="list-group-item">{{ kegiatan.jamKegiatan }}</li>
                    </td>
                    <td>
                        <li class="list-group-item">{{ kegiatan.kategoriKegiatan }}</li>
                    </td>

                    <td>
                        {% if kegiatan.dipilih %}
                        <a href="{% url 'homepage:pilih' kegiatan.id %}">
                            <button class="btn" >
                            </button>
                        </a>

                        {% else %}
                        <a href="{% url 'homepage:pilih' kegiatan.id %}">
                            <button class="btn" style="background-color: #ededed;">
                            </button>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            </table>
            {% endfor %}
            <a href="{% url 'homepage:hapus' %}" style="margin-top: 3vw;"><span class="input-group-btn">
                    <button type="button" class="btn" id="add-btn">Delete</button>
                </span></a>
        </ul>
    </div>

</div>


</body>
</html>